@import "../variables.scss";

.background {
  background-color: $lightBackground;
  height: 100vh;
}

.overview {
  background-color: $lightBackground;
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
  }
}

.manageTicketsContainer {
  @include searchBar();
  .addButton {
    @include myButton($primary, white);
    &:hover {
      cursor: pointer;
    }
  }
  .addButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
  }
  .manageTickets {
    background-color: $lightBackground;
    .adminTicketCard {
      background-color: white;
      padding: 10px;
      margin: 20px 1rem;
      @include shadow();
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .textSide {
        padding: 0 0 10px 10px;
        font-size: 1rem;
      }
      .cardTitle {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 10px 0 0;
      }
      .cardIcons {
        height: 100%;
        flex-direction: column;
      }
    }
  }
}

.editScreen {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
  position: absolute;
  width: 75%;
  @include shadow();
  .closeContain {
    display: flex;
    padding: 0 0 20px 0;
  }
  .inputDiv {
    display: flex;
    flex-direction: column;
    button {
      @include myButton($primary, white);
    }
    .imageUpload {
      //height: 300px;
      border: 1px solid $primary;
      border-radius: 5px;
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .controls {
        position: absolute;
        display: flex;
        justify-content: center;
        margin: 25%;
        align-items: center;
        button {
          @include myButton(white, $primary);
        }
      }
    }
    .editInput {
      padding: 0 0 10px 0;
    }
  }
}

.accountSettingContainer {
  display: flex;
  flex-direction: column;
  .accountSetting {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    @include shadow();
    display: flex;
    flex-direction: column;
    .settingInput {
      margin: 5px 0;
    }
  }
  .submitButton {
    @include myButton($primary, white);
    margin: 0 0 0 10px;
    &:nth-child(odd) {
      background: rgb(255, 60, 60);
    }
  }
  .submitButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
  }
}

.manageUsers {
  @include searchBar();
  .tableHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    font-weight: bold;
    span {
      width: 20%;
    }
  }
  .adminUserCard {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 3px;
    border-radius: 3px;
    p {
      width: 20%;
    }
    &:nth-child(odd) {
      background-color: rgb(181, 181, 181);
    }
  }
}

.adminNotificationsRoot {
  padding: 1rem;
  .enterUserId {
    background-color: $lightBackground;
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        background-color: $primary;
        color: white;
        padding: 0 10px;
        border-radius: 5px 5px 0 0;
      }
    }
  }
  textarea {
    padding: 5px;
  }
  .shareDiv {
    display: flex;
    justify-content: flex-end;
    button {
      @include myButton($secondary, $primary);
    }
  }
}

.recordsRoot {
  padding: 1rem;
  background: $lightBackground;
  .tableSelect {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    text-align: center;
    .buttonSelected {
      background: $secondary;
      color: $primary;
      height: 100%;
      width: 25%;
      padding: 5px 0;
    }
    .buttonUnSelected {
      background: $primary;
      color: white;
      height: 100%;
      width: 25%;
      padding: 5px 0;
    }
  }
  .keyHeader {
    display: flex;
    justify-content: space-between;
    color: white;
    background: $primary;
    margin: 10px 0;
    padding: 5px;
    p {
      width: 20%;
    }
  }
  .eachDateTotal {
    display: flex;
    background: $primary;
    color: white;
    justify-content: flex-end;
    padding: 10px 3px;
    margin: 0 0 20px 0;
    p {
      width: 20%;
    }
  }
  .eachSale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 3px;
    background: white;
    border-bottom: 1px solid $primary;
    color: rgba(0, 0, 0, 0.611);
    p {
      width: 20%;
    }
  }
}
