@import "../variables.scss";

@mixin btn($background){
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  background-color: $background ;
    &:hover{cursor: pointer;
  }
  & p {
    padding: 0 0 0 10%;
  }
}

.aside {
  width: 20vw;
  height: 100vh;
  background-color: $primary;
  position:fixed;

  .btn{
    @include btn(rgba(51, 103, 108,0))
  }

  .btnSelected{
    @include btn(rgb(51, 103, 108))
  }

  .specialButtonDiv {
    padding: 10%;
  }
  .specialButton {
    @include myButtonOutline($secondary, white);
    &:hover {
      cursor: pointer;
    }
  }
}
