@import "../variables.scss";

@mixin headerHalfWidth() {
  width: calc(100vw - 10rem);
  margin-left: 10rem;
}

.header {
  background-color:$secondary;
  height: 10vh;
  @include headerHalfWidth();
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: rgb(42, 42, 71);
  div {
    display: flex;
    width: 25%;
    justify-content: space-between;
    .myButton {
      @include myButton(rgb(42, 42, 71), rgb(36, 226, 154));
      &:hover {
        cursor: pointer;
      }
    }
    .myButtonOutlined {
      @include myButtonOutline(rgb(42, 42, 71), white);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.underHeaderLine {
  height: 3px;
  @include headerHalfWidth();
  background-color: rgb(42, 42, 71);
}

.headerUnder {
  height: 50px;
  @include headerHalfWidth();
  background-color: white;
  right: 0;
  @include shadow();
  padding: 0px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .iconsHolder {
    width: 100px;
    display: flex;
    justify-content: space-around;
    .notificationsDiv {
      p {
        position: absolute;
        background-color: rgb(253, 48, 12);
        color: white;
        font-size: 0.6rem;
        font-weight: bold;
        border-radius: 0.6rem;
        padding: 0.15rem;
        margin: -5px 0 10px 14px;
        border: 2px solid white;
      }
    }
  }
  .pageTitle {
    color: rgb(42, 42, 71);
    font-weight: bold;
  }
}
