@import "../variables.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .form {
    width: 75%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    &:hover {
      transition: 1s;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }
  .input {
    margin: 5px;
  }
  .submitButton {
    margin: 16px;
    background-color: $secondary;
    border: none;
    padding: 16px;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: $primary;
    &:hover {
      transition: 1s;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }
}

.backDiv{
  padding:2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    color:$secondary
  }
}